<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
	Get help on the Ruby on Rails Turtorial at the 
	<a href="http://www.railsturtorial.org/#help">Rails Tutorial help section</a>.
	To get help on this sample, see the 
	<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Turtorial</em>book</a>.	
</p>
